/*General*/

  body {
    background-color: #f6f6f6;
    font-family: Gill Sans, sans-serif;
    font-size: 14pt;
  }

  .hidden {
    display: none;
  }

/*Header*/
  #header-container {
    padding: 15px 75px 10px;
    background-color: #3f3f3f;
    color: #f6f6f6;
    overflow: hidden;
  }

  #page-title {
    float: left;
    font-family: Georgia, serif;
    font-size: 18pt;
    font-style: italic;
    color: #f6f6f6;

  } 

  #submit-link {
    float: right;
    font-family: Gill Sans, sans-serif;
    font-size: 12pt;
    padding-top: 3pt;
  }

  a {
    color: #f6f6f6;
    text-decoration: none;
  }

  a:hover {
    color: #4472B9;
    text-decoration: underline;
    cursor: pointer;
  }
   
#claim_link {
  font-style: italic;
  font-size: 16pt;
}

#text-stuff {
  font-style: italic;
  font-size: 16pt;
}

#claim_form {
  padding: 50px 20px;
  margin: 20px;
  color: #3f3f3f;
  background-color: #C0C0C0;
  border: 2px #3f3f3f solid;
}

#thank-you {
/*  margin: 20px;
  margin-top: 50px;*/
  color: #3f3f3f;
  font-size: 12pt;
  padding: 10px;
}

#name_input {
   background-color: #f6f6f6;
   width: 80%;
   border: 1px solid #3f3f3f;
   margin: 30px 10px;
   padding: 10px;
}

#submit_button {
    font-family: Gill Sans, sans-serif;
    font-size: 12pt;
    padding: 10px;

}

.change_color {
  color:#3f3f3f;
}


/*Word block*/

  #content {
    width: 60%;
    max-width: 500px;
    /*min-height: 250px;*/
    margin: 0 auto;
  }

  .wordBlock  {
    text-align: center;
    font-size: 14pt;
    font-family: Gill Sans, sans-serif;
  }

  .wordTitle {
    font-weight: bold;
    font-size: 42pt;
    font-family: Georgia, serif;
    margin: 100px 0 70px;
  }

  .label {
    font-weight: bold;
    /*margin-bottom: 6pt;*/
  }



 
@media (max-width: 800px) {

  #main {
    width: 80%;
    margin: 0 auto;
  }  

  #header-container {
    /*width: 100%;*/
    padding: 30px 5px 20px 5px;
  }

  #page-title, #submit-link {
    clear: both;
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }

#page-title {
  display:none;
}

  #submit-link {
    padding: 20pt 0;
    font-size: 120%;
  }

  #content {
    width: 100%;
    max-width: 100%;
    min-height: 100%;
    margin: 0 auto;
  }

  #nav-list {
    width: 100%;
  }

  li {
    width: 100%;
    margin: 5px 0;
  }  

  .nav-item {
    font-size: 14pt;
  }
}


